image @IMAGE@ {
    hdimage {
        align =1M
    }
    size = 2G
    partition boot {
        image = "boot.vfat"
        partition-type = 0xC
    }
    partition root {
        image = "root.ext2"
        partition-type = 0x83
    }
    partition data {
        partition-type = 0xc
        size = 1896M
    }
}
